<div class="heading">
    <h1>Hadings</h1>
</div>

<section>
    <div class="innheading">
        <h1>What Parents Say About Us</h1>
        <p>Here how we are making a difference in their lives</p>

    </div>


    <article class="cardouter">
        <div class="card">
            <h1>Name</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo quasi expedita ad nihil aliquam doloribus
                magni, adipisci ut quidem hic est corporis laudantium? Excepturi eos atque provident rerum numquam odio.
            </p>
        </div>
        <div class="card">
            <h1>Name</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo quasi expedita ad nihil aliquam doloribus
                magni, adipisci ut quidem hic est corporis laudantium? Excepturi eos atque provident rerum numquam odio.
            </p>
        </div>
        <div class="card">
            <h1>Name</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo quasi expedita ad nihil aliquam doloribus
                magni, adipisci ut quidem hic est corporis laudantium? Excepturi eos atque provident rerum numquam odio.
            </p>
        </div>

        <div class="card">
            <h1>Name</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo quasi expedita ad nihil aliquam doloribus
                magni, adipisci ut quidem hic est corporis laudantium? Excepturi eos atque provident rerum numquam odio.
            </p>
        </div>
        <div class="card">
            <h1>Name</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo quasi expedita ad nihil aliquam doloribus
                magni, adipisci ut quidem hic est corporis laudantium? Excepturi eos atque provident rerum numquam odio.
            </p>
        </div>
        <div class="card">
            <h1>Name</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo quasi expedita ad nihil aliquam doloribus
                magni, adipisci ut quidem hic est corporis laudantium? Excepturi eos atque provident rerum numquam odio.
            </p>
        </div>
    </article>
</section>