<header class="header">
    <p>Get a Free Special Needs Assessment Today!
        <strong>
            USE CODE - APRILASSESSMENT2025
        </strong>
        <button>Book now</button>
    </p>
</header>

<section class="menusection">
    <article class="menus">
        <ul>
            <li>Assessment</li>
            <li>Coaching</li>
            <li>Pricing</li>
        </ul>
        <ul>
            <li>About</li>
            <li>Contact</li>
            <li>Login</li>
            <li><button class="bg-amber-500 signup">Sign up</button></li>
        </ul>
    </article>

    <article class="flex justify-between inner">
        <section>

            <div class="flex innerheading">
                <h1 class="">We're</h1>
                <h1 class="online">Online!</h1>
            </div>

            <p class="p1">Personalized Therapy, Coaching & Learning - All from the Comfot of Your Home.</p>

            <p class="p2">Get Personalize therapy, coaching & learning programs for children with Autism, ADHD and
                Learning
                Disablities - all delivered online by certified professionals. Safe, structured, and designed to fit
                into your daily routine.
            </p>

        </section>


        <section>
            <form action="" class="bg-amber-400 form">
                <h1 class="heading">Book a Free Assessment</h1>

                <div class="formouter">
                    <div>
                        <label for="">Child's name</label>
                        <input type="text" placeholder="Francois Mercer">
                    </div>

                    <div>
                        <label for="">Mobile Number</label>
                        <input type="number" placeholder="9876543210">
                    </div>

                    <div>
                        <label for="">Email</label>
                        <input type="email" placeholder="abc@gmail.com">
                    </div>

                    <div class="flex justify-center items-center btnouter">
                        <button>
                            Sign Up
                        </button>
                    </div>
                </div>
            </form>
        </section>
    </article>




</section>