.header{
    background-color: rgb(245, 125, 21);
    padding: 10px;
    display: flex;
    justify-content: center;
}
.header button{
    background-color: rgb(131, 42, 72);
    padding: 10px;
    margin-left: 5px;
    border-radius: 20px;
    color: #ffff;
}
ul{
    display: flex;
    li{
        margin-left: 15px;
    }
}
.menus{
    display: flex;
    justify-content: space-between;
}
.signup{
    background-color: orange;
    padding: 3px;
    border-radius: 10px;
}
.menusection{
    margin: 50px;
}
.inner{
    display: flex;
    justify-content:space-between;
    margin: 90px;
    align-items: center;    
}
.innersec{
    padding: 70px;
    background-color: red;
    display: block; 
    justify-content: center;
    align-items: center;
    width: 600px;

}
.innerheading{
    display: flex;
    justify-content: center;
    h1{
        margin: 3px;
        font-size: 50px;
        font-weight: bold;
    }  
}
.online{
    color: rgb(191, 9, 85);

}
.p1{
    font-weight: bold;
}
.form{
    background-color: rgb(241, 148, 82);
    padding: 30px;
    border-radius: 20px;
    input{
        border: 2px solid white;
        background-color: #ffff;
        border-radius: 20px;
        margin-bottom: 15px;
    }

    button{
    background-color: rgb(131, 42, 72);
    padding: 5px 30px;
    border-radius: 20px;
    color: #ffff;
    }
}
.btnouter{
    display: flex;
    justify-content: center;
}
.heading{
    font-size: larger
}
.formouter{
    margin-top: 20px;
    align-items: center;
}