.outer{
    /* border: 1px solid black; */
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: rgba(6, 6, 128, 0.821);
   margin-top: 10px;
}
.ptag{
    display: flex;
}
h1{
    font-weight: bolder;
    font-size:50px;
}
.form{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    section{
        margin-top: 5px;
    }
   input{
    border: 1px solid black;
    display: block;
    width: 100%;
    border-radius: 3px;
    box-shadow: 1px 2px black;
}
}
.formsec{

}
label{
    display: block;
    margin-top: 15px;
}

.formart{
    display: flex;
}
.phnno{
    margin-left: 5px;
}
.msg{
    border: 1px solid black;
    height: 80%;
}
.submitbtn{
    background-color: orange;
    margin-top: 5px;
    border-radius: 10px;
    padding: 5px 15px;
}
.bottomart{
    background-color: palevioletred;
}
.footer{
    margin: 10%;
    display: flex;
    flex-wrap: wrap;

}
.footerinn{
     background-color: rgb(239, 12, 190);
     display: flex;
     justify-content: space-between;
     color: #ffff;
     padding: 30px;
     border-radius: 20px;
     width: 90%;
   
}
.icons{
    margin-left: 50px;
}
.phone{
    background-color: orange;
    border-radius: 50%;
    padding: 15px;
}
.mail{
    background-color: rgb(11, 207, 207);
    border-radius: 50%;
    padding: 15px;
    margin-top: 5px;
}
.cam{
     background-color: rgb(196, 15, 220);
    border-radius: 50%;
    padding: 15px;
    margin-top: 5px;
}
.wp{
     background-color: rgb(142, 5, 152);
    border-radius: 50%;
    padding: 15px;
    margin-top: 5px;
}