<section class="outer">
    <article>
        <h1>Your Child's Journey Starts Here</h1>

        <p class="ptag">Fill in our details and our team will connect with you to understand your needs and share how we can help.
        </p>

        <form action="" class="form">
            <section class="formsec">
                <article>
                    <label for="">Name</label>
                    <input type="text" placeholder="Aishwarya jadhav">
                </article>

                <article class="formart">
                    <div>
                        <label for="">Email</label>
                        <input type="email" placeholder="abc@gmail.com">
                    </div>
                    <div class="phnno">
                        <label for="">Phone Numbare</label>
                        <input type="number" placeholder="4561237890">
                    </div>
                </article>

            </section>

            <section>
                <label for="">Message</label>
                <input type="text" class="msg" placeholder="type message">
            
            <button class="submitbtn">Submit</button>
            </section>

        </form>

    </article>

    
</section>